body
{
    background-color: lightskyblue;
}
#heading
{
    position: relative;
    width:70%;
    background-color: limegreen;
    left:15%;
}
h1{
   text-align:center;
   font-weight:bold;
}
#container
{
    position: relative;
    width:67%;
    height:auto;
    padding:20px;
    margin-right:20px;
    margin-bottom:20px;
    background-color:white;
    left:15%;
    border:1px solid black;
    border-radius:0.6rem;
}
input
{
    margin:0px 30px;
}
button{
    background-color: blue;
    color:white;
    margin-left:40px;
}
/* .newList{
    display:none;
} */
#Al
{
    
    width: 67%;
    position:relative ;
    left:15%;
    border-radius: 0.6rem;
}
li
{
    background-color: lightyellow;
    border:1px solid black;
    position: relative;
    border-radius: 0.6rem;
    width: 72%;
    left:15%;
    margin-left: -40px;
    padding:10px 30px;
}
li:nth-child(odd)
{
    content:"";
    background-color: rgb(164, 166, 168);
}
.box
{
   /* padding:5px; */
   border:1px solid black !important;
   border-radius: 0.6rem;
   position: relative;
   /* margin-left: 10px; */
}
.close
{
    top: 0px;
    right:0px;
    padding:10px;
    position:absolute;
}
.close:hover
{
    background-color: red;
    border-radius: 0.6rem;
    
}
a{
    color:mediumblue;
    /* text-decoration: none; */
}
a:active
{
    color:red;
}
.Show 
{
    width:67%;
    height:auto;
    padding:20px;
    margin-right:20px;
    margin-bottom:20px;
    /* background-color:white; */
    left:15%;
    position: relative;
}
.Show a{
    margin: 5px;
}
#All
{
    height: 0px;
    width:0px;
    position: fixed;
    overflow: hidden;
   
}
#All:target
{
    height:auto;
    width: 72%;
    
    left:15%;
}
